name: CI

on:
  pull_request:
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - 'LICENSE'
  push:
    branches: [master]
    paths-ignore:
      - '*.md'
      - 'docs/**'
      - 'LICENSE'
  workflow_dispatch:

jobs:
  tests:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SwiftPM tests
        run: swift test
        working-directory: AgentUsagePackage
